[Unit]
Description=Meilisearch
After=systemd-user-sessions.service

[Service]
Type=simple
EnvironmentFile=/etc/default/meilisearch
WorkingDirectory={{ meilisearch_working_dir }}
ExecStart={{ meilisearch_bin_dir }}/meilisearch --config-file-path /etc/meilisearch.toml
User={{ meilisearch_user }}
Group={{ meilisearch_group }}
Restart=on-failure

[Install]
WantedBy=multi-user.target
